<div class="message-body">{{{enquiry.message.html}}}</div>
<div class="message-details">
  <p>from: {{enquiry.name.first}} {{enquiry.name.last}}</p>
  <p>email: <a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a></p>
  <p>phone: {{enquiry.phone}}</p>
  <p>type: {{enquiry.enquiryType}}</p>
  <p>created at: {{enquiry.createdAt}}</p>
</div>



